<!doctype html>
<html lang="en" ng-app="retailTest">
  <head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/RetailController.js"></script>
    <script src="js/factories/ItemLoggerFactory.js"></script>
    <title>Retail Tech Test</title>
  </head>
  <body ng-controller="RetailController">
    <div id="cartItems" ng-hide="isCartEmpty()">
      <h3>Cart:</h3>
      <ul ng-repeat="item in shoppingCart.items">
        <li class="item">
          <span class="item-name">Product name: {{item.name}}</span>
          <span class="item-price">Price: £{{item.price}}</span>
          <button class="remove-from-cart" ng-click="removeProductFromCart(item)">Remove from cart</button>
        </li>
      </ul>
      <span id="total-price">Total Price: £{{shoppingCartTotal}}</span>
    </div>
    <div id="stockItems">
      <h3>Stock:</h3>
      <ul ng-repeat="item in stock.items">
        <li class="item">
          <div class="no-stock-{{item.no_stock}}">
            <span class="item-name">Product name: {{item.name}}</span>
            <span class="item-price">Price: £{{item.price}}</span>
            <button class="add-to-cart" ng-click="addProductToCart(item)" ng-hide="item.no_stock">Add to cart</button>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
